:root {
  /* Palette Colors */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  /* UI Text & Subtext */
  --text: #cdd6f4;
  --subtext-1: #bac2de;
  --subtext-0: #a6adc8;

  /* UI Overlays */
  --overlay-2: #9399b2;
  --overlay-1: #7f849c;
  --overlay-0: #6c7086;

  /* UI Surfaces */
  --surface-2: #585b70;
  --surface-1: #45475a;
  --surface-0: #313244;

  /* Base Layers */
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

body {
margin: 0px;
padding: 0px;
background-color: var(--base);
color: var(--text);
}

div{
  margin: 0px;
  padding: 0px;
}

.main {
  display: grid;
  width: 100%;
  justify-self: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.img_wrapper {
  position: relative;
  width: auto;
  height: auto;
}

.placeholder{
  position:absolute;
  left: 0;
  top: 0;
}

.placeholder {
  opacity: 1;
}

.unloaded {
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.loaded {
  opacity: 1;
  transition: opacity 0.75s ease-in;
}

.img_width_max_176px{
  width: 95%;
  max-width: 176px;
  height: auto;
}

.img_width_max_256px{
  width: 95%;
  max-width: 256px;
  height: auto;
}

.container_height_90 {
  height: 90%;
}

.container_width_90 {
  width: 90%;
}

.container_width_max {
  width: 100%;
}

.rounded_border_5px {
  border-radius: 5px;
}

.green_border_2px {
  border: solid var(--green) 2px;
}

.blue_border_2px {
  border: solid var(--blue) 2px;
}

.lavender_border_2px {
  border: solid var(--lavender) 2px;
}

.sky_border_2px {
  border: solid var(--sky) 2px;
}


.padding_row_4px {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding_row_8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.generic_pad_8px {
  padding: 8px;
}

.text_align_centered {
  text-align: center;
}

.spacer {
  row-gap: 10px;
  column-gap: 10px;
}

.parent {
  display:grid;
  justify-items: center;
  align-items: center;
}

.poke_container {
  grid-auto-flow: row;
}

.sprite_box {
  background-color: var(--surface-0);
}

.current_sprite_box {
  background-color: var(--surface-1);
}

.pokemon_name_badge {
  color: var(--sky);
  border-radius: 8px;
  border: solid var(--sky) 1px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 1px;
  padding-bottom: 1px;
}

img {
margin: 0px;
padding: 0px;
}

p{
margin: 0px;
padding: 0px;
}

h1 {
margin: 0px;
padding: 0px;
}

h2{
margin: 0px;
padding: 0px;
}