:root {
  /* Palette Colors */
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  /* UI Text & Subtext */
  --text: #cdd6f4;
  --subtext-1: #bac2de;
  --subtext-0: #a6adc8;

  /* UI Overlays */
  --overlay-2: #9399b2;
  --overlay-1: #7f849c;
  --overlay-0: #6c7086;

  /* UI Surfaces */
  --surface-2: #585b70;
  --surface-1: #45475a;
  --surface-0: #313244;

  /* Base Layers */
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
}

.yellow{
  color: var(--yellow);
}

.red {
  color: var(--red)
}

.lavender{
  color: var(--lavender);
}

.sky {
  color: var(--sky);
}

.sapphire {
  color: var(--sapphire)
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}


.secondary_bg { 
  background-color: var(--mantle);
}

body {
margin: 0px;
padding: 0px;
background-color: var(--base);
color: var(--text);
}

div{
  margin: 0px;
  padding: 0px;
}

.main {
  display: grid;
  justify-self: center;
  justify-items: center;
  align-items: center;
  min-height: 100vh;
}

.transition_none {
  transition: none;
}

.transition_linear {
  transition-timing-function: linear;
}

.transition_delay_25ms {
  transition-delay: 0.25s;
}

.transition_opacity {
  transition-property: opacity;
}

.transition_75ms{
  transition-duration: 0.75s;
}

.transition_50ms{
  transition-duration: 0.5s ;
}

.transition_25ms{
  transition-duration: 0.25s;
}

.box_blur{
  filter: blur(2px);
}

.unloaded {
  opacity: 0;
}

.loaded {
  opacity: 1;
}

.width_max_176px{
  max-width: 176px;
  height: auto;
}

.width_max_256px{
  max-width: 256px;
  height: auto;
}

.rounded_border_5px {
  border-radius: 5px;
}

.white_border_2px {
  border: solid var(--text) 2px;
}

.green_border_2px {
  border: solid var(--green) 2px;
}

.blue_border_2px {
  border: solid var(--blue) 2px;
}

.lavender_border_2px {
  border: solid var(--lavender) 2px;
}

.sky_border_2px {
  border: solid var(--sky) 2px;
}

.padding_row_4px {
  padding-top: 4px;
  padding-bottom: 4px;
}

.padding_row_8px {
  padding-top: 8px;
  padding-bottom: 8px;
}

.generic_pad_8px {
  padding: 8px;
}

.spacer {
  row-gap: 10px;
  column-gap: 10px;
}

.width_80{
  width: 70%;
}

.height_90 {
  height: 90%;
}

.width_90 {
  width: 90%;
}

.width_70{
  width: 70%;
}

.width_50 {
  width: 50%;
}

.width_100{
  width: 100%;
}

.text_padding {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-top: 2px;
}

.grid_flow_col {
  grid-auto-flow: column;
}

.grid_flow_row {
  grid-auto-flow: row;
}

.grid_cols_start_third {
  grid-template-columns: 1fr 1fr;
}

.start_grid {
  display: grid;
  align-items: center;
  justify-items: start;
  text-align: start;
}

.center_grid {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.surface_dark {
  background-color: var(--surface-0);
}

.surface_light {
  background-color: var(--surface-1);
}

.surface_lightest {
  background-color: var(--surface-2);
}

img {
margin: 0px;
padding: 0px;
}

p{
margin: 0px;
padding: 0px;
font-size: clamp(0.5rem, 1.5vw + 0.5rem, 2rem);
}

h1 {
margin: 0px;
padding: 0px;
font-size: clamp(0.5rem, 1.5vw + 0.5rem, 2rem);
}

h2{
margin: 0px;
padding: 0px;
font-size: clamp(0.5rem, 1.5vw + 0.5rem, 2rem);
}